<%-include('./partials/header.ejs')%>
<body>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Cadastrar</h3>
                        <p>É um grande prazer ter você aqui <3 </p>
                        <form class="requires-validation" method="POST" action="/sendsingup" mnovalidate>

                            <div class="col-md-12">
                               <input class="form-control" type="text" name="name" placeholder="USERNAME" required>
                               <div class="valid-feedback">Nome de ususario valido!</div>
                               <div class="invalid-feedback">Nome de usuario não valido!</div>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="email" name="email" placeholder="EMAIL" required>
                                 <div class="valid-feedback">E-mail valido!</div>
                                 <div class="invalid-feedback">E-mail invalido!</div>
                            </div>

                           <div class="col-md-12">
                              <input class="form-control" type="password" name="password" placeholder="PASSWORD" required>
                               <div class="valid-feedback">Senha valida!</div>
                               <div class="invalid-feedback">Senha invalida!</div>
                           </div>
                
                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">OK</button>
                            </div>
                            <div class="new-or-old">
                                <p>Ja possui uma conta?<a href="sign-in">Sign in</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<%-include('./partials/footer.ejs')%>